<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>
            New Task
        </h1>
        <br>
        <form>
            <button type="submit" formaction="/">Home</button>
            <button type="submit" formaction="/listTasksw5">Tasks list</button>
        </form>
        <br>
        <h3>
            <form action="/listTasksw5" method="POST">
                Task name <input type="text" name="taskName"><br>
                Task due date <input type="text" name="dueDate"><br> 
                Task description <input type="text" name="taskDesc"><br><br>
                <button>Add</button>
            </form>
        </h3>
    </body>
</html>