<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>
            Task list
        </h1>
        <br>
        <table>
            <tr>
                <th>
                    Task name
                </th>
                <th>
                    Due date
                </th>
                <th>
                    Description
                </th>
            </tr>
            <% for (let i=0; i<tasks.length; i++) { %>
                <tr>
                    <td>
                        <%= tasks[i].taskName %>
                    </td>
                    <td>
                        <%= tasks[i].dueDate %>
                    </td>
                    <td>
                        <%= tasks[i].taskDesc %>
                    </td>
                </tr>
            <% } %>
        </table>
        <br>
        <form>
            <button type="submit" formaction="/addTaskw5">Add new task</button>
            <button type="submit" formaction="/">Home</button>
        </form>
    </body>
</html>